
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="/students">STUDENTS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/subjects">SUBJECTS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/teachers">TEACHERS</a>
  </li>
</ul>
