<%-include('partials/header',{pageTitle:'login'})%>
<table class="table table-striped">
  <tr>
    <td>
      <h3>Login</h3>
    </td>
  </tr>
  <form class="" action="/login" method="post">
    <tr>
      <td>
        username :
        <input type="test" name="username" value="">
      </td>
    </tr>
    <tr>
      <td>password :
      <input type="password" name="password" value=""></td>
    </tr>
    <tr>
      <td><input type="submit" name="" value="submit"></td>
    </tr>


  </form>
  <tr>
    <td><a href="login/register">register</a></td>
  </tr>
</table>


<%-include('partials/footer')%>
