<%-include('partials/header',{pageTitle})%>
    <%-include('partials/nav-bar', role)%>
    <%if(locals.err){%>
      <%=err%>
    <%}%>
    <form class="" action="/students/add" method="post">
    <table class="table">
      <tr>
        <td>first name:
        <input type="text" name="first_name" value=""></td>
      </tr>
      <tr>
        <td>last name:
        <input type="text" name="last_name" value=""></td>
      </tr>
      <tr>
        <td>email:
        <input type="text" name="email" value=""></td>
      </tr>
      <tr>
        <td><input type="submit" name="" value="submit"></td>
      </tr>
    </table>
    </form>
<%-include('partials/footer')%>
