<%-include('partials/header')%>
    <%-include('partials/nav-bar')%>
    <form class="" action="givescore" method="post">
      <input type="text" name="score" value="">
      <input type="submit" name="submit" value="submit">
    </form>
<%-include('partials/footer')%>
